# 样例忽略文件

#设置忽略文件
node_modules/
dist/
package-lock.json

#MAVEN打包文件忽略
target/

#文件格式忽略
*.log
*.class
*.war

#文件忽略
.idea/
.idea
.vscode
.project
.classpath
.settings

wireguard-ui
*.db

# 忽略智能IDE的一些隐藏文件
*.idea
**/.DS_Store
**/.kiro
**/.vscode
**/.trae
